<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>
    Username: <p th:text="${user.username}"></p>
    <br>
    Email: <p th:text="${user.email}"></p>
    <br>
    <div th:if="${user.role.equals('ADMIN')}">
        Role: <p th:text="${user.role}"></p>
    </div>
    <div class="rainbow-lines">
        <div class="line"></div>
    </div>
</body>
</html>