<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>
    <h1>Welcome to the W4t3rcs Todo List!</h1>
    <pre>This is the test Spring application for resume!
It has functionality of Todo List
For making your list: <a th:href="@{/todo}">Make your Todo List</a>
    </pre>
    <img th:src="@{/images/logo.png}" alt="todo">

    <div class="rainbow-lines">
        <div class="line"></div>
    </div>
</body>
</html>