<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Maker</title>
    <link rel="stylesheet" th:href="@{/styles/todo.css}">
</head>
<body>
    <h1>Welcome to the List Maker</h1>
    <br>
    <a th:href="@{/todo/account}" id="account">Profile</a>
    <br>
    <br>
    <br>
    <p>You can start making your list here!</p>
    <a th:href="@{/todo/create}" id="create">Create</a>
    <br>
    <br>
    <br>
    <div th:each="list : ${lists}">
        <a th:href="@{/todo/{id}(id=${list.getId()})}" th:text="${list.getName()}" id="list"></a>
    </div>

    <div class="rainbow-lines">
        <div class="line"></div>
    </div>
</body>
</html>